.principaltext{
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 1.7vw;
    background-color: #fff;
    width: 350px;
    padding: 10px;
    height: auto;
    border: solid 2px #000;
    transform:skew(-15deg);
    position: absolute;
    top: 20%;
    left: 15%;
}