.panel{
    background-color: #ffffff;
    border: solid 5px #000;
    box-shadow:0 6px 6px -6px #000;
    display: inline-block;
    flex: 1 1;
    height: 350px;
    margin: 1vmin;
    overflow: hidden;
    position: relative;
}
