@import url(https://fonts.googleapis.com/css?family=Bangers);

.panel{
    background-color: #ffffff;
    border: solid 5px #000;
    box-shadow:0 6px 6px -6px #000;
    display: inline-block;
    flex: 1 1;
    height: 350px;
    margin: 1vmin;
    overflow: hidden;
    position: relative;
}

.text {
    background-color:#fff;
    border:solid 2px #000;
    margin:0;
    padding:3px 10px;
    font-size: 2vw;
    font-family: 'Bangers', cursive;
  }

  .top-text {
    left:-6px;
    position:absolute;
    top:-2px;
    transform:skew(-15deg);
  }
  
  .bottom-text{
    bottom:-2px;
    position:absolute;
    right:-6px;
    transform:skew(-15deg);
  }

  .principaltext{
      text-align: center;
      font-family: 'Bangers', cursive;
      font-size: 1.5vw;
      background-color: #fff;
      width: auto;
      padding: 10px;
      height: auto;
      border: solid 2px #000;
      transform:skew(-15deg);
      position: absolute;
      top: 20%;
      left: 10%;
  }
